<!DOCTYPE html>
<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/static/js/sjcl.js"></script>
	<script type="text/javascript" src="/static/js/bitcoinbeacon_display.js"></script>
	<title>
		Manifest {{ id }}
	</title>
</head>
<body>
	<div id="manifestContainer">
		{#
		{ <br>
		{% for key in manifest %}
			{% if key == 'lotteryDetails' %}
				{ 

				{% for detailKey in key %}


			{{ key }} : {{ manifest[key] }}
		{% endfor %}
		#}
		{{ manifest }}
	</div>
	<div id="updatedTime"></div>
</body>
