<!DOCTYPE html>
<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/static/js/sjcl.js"></script>
	<script type="text/javascript" src="/static/js/bitcoinbeacon_display.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bitcoinbeacon_display.css"/>
	<title>
		Manifest {{ id }}
	</title>
</head>
<body>
	<div id="manifestContainer">
		{#
		{ <br>
		{% for key in manifest %}
			{% if key == 'lotteryDetails' %}
				{ 

				{% for detailKey in key %}


			{{ key }} : {{ manifest[key] }}
		{% endfor %}
		#}
		<!-- {{ manifest }} -->
	</div>
<!-- 	<div id="futureBlockNum">
		{% for key in manifest %}
			{% if key == 'futureBlockNum' %}
				{{ manifest[key] }}
			{% endif %}
		{% endfor %}
	</div> -->
	{% for key in manifest %}
		<div class="manifestDetails"> {{ key }}: <div id="{{key}}" class="manifestDetailsValues"> {{ manifest[key] }}</div></div><br>
	{% endfor %}
	<div id="updatedTime"></div>
	<button type="button" id="processLottery" val="Get results!">Get results!</button>
	<div id="winnersPane"></div>
</body>
