html {
	height: 100%;
	font-family: Helvetica, 'sans-serif';

}

body {
	height: 100%;
}

h1 {
	text-align: center;
	color: #3399ff;
}

input[type="text"] {
	margin-bottom: 5px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border: solid 1px #3399ff;
	height: 21px;
	width: 200.21875px;
}

#dateTimeInput {
	font-size: 18px;
	color: #525252;
}

#futureBlockNumDisplay {
	font-weight: bold;
}

.manifestWindow {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
	height: 60%;
	width: 80%;
	border-top: dotted 1px black;
	border-left: dotted 1px black;
	border-right: dotted 1px black;
	border-bottom: dotted 1px black;
}

.submitButton {
/*	background-color: #3399ff;
	border-color: #3399ff;
	color: white;*/
    background-color: transparent;
    border-color: #3399ff;
    border: 1px solid;
    color: #3399ff;
    width: 200px;
    height: 50px;
    cursor: pointer;

    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    outline-color: black;
    -webkit-font-smoothing: subpixel-antialiased;
}

.submitButton:hover {
    /*-webkit-transition: background linear 0.1s;*/
    -webkit-transition: border .1s linear, color .1s linear, background-color .1s linear;
    transition: border .1s linear, color .1s linear, background-color .1s linear;
    background-color: #3399ff;
    border-color: #3399ff;
    color: white;
    /*background-color: transparent;
    color: black;*/
}